// Import material icons to be available through the app
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './theme/variables';

.app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.brand-logo {
  align-items: center;
  display: flex;

  img {
    margin-right: 0.625rem;
    width: 40px;
  }
}

main {
  background: $color-secondary;
  flex: 1 0 auto;
}

nav {
  background: $color-secondary;
}

footer {
  background: $color-secondary;
}
