<div class="app-root">
  <header>
    <nav role="navigation">
      <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo"><img src="assets/icons/rabologo.png" />Rabo validator</a>
      </div>
    </nav>
  </header>
  <main class="grey lighten-5">
    <app-home id="home-page"></app-home>
  </main>
  <footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Rabo validator</h5>
                <p class="grey-text text-lighten-4">Challenge developed for Rabobank's intake process</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="https://github.com/yannbf/rabo-validator">Yann Braga</a>
        </div>
    </div>
  </footer>
</div>
